@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-size: 10px;
    font-family: 'Roboto','Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    background-color: #4f636c;
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #CACACA;
}
h1{
    margin-bottom: 16px;
    text-align: center;
    font-size: 4rem;
    color: #F1F1F1;
}
div{
    text-align: center;
    margin-bottom: 8px;
}
span{
    text-align: center;
    font-size: 1.5rem;
    color: #CACACA;
}
span > span{
    text-align: center;
    font-size: 1.5rem;
    color: #F1F1F1;
}
hr{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 90%;
    border-width: 2px;
    border-radius: 4px;
    border-color: #F1F1F1;
    border-style: solid;
}
p{
    font-size: 2rem;
}
ul ul{
    list-style-type: disc;
}
li{
    font-size: 2rem;
}
a{
    display: inline-block;
    text-decoration: none;
    color:#CACACA;
}
footer{
    font-size: 1rem;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 12px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}
#Master{
    text-align: left;
    display: inline-block;
    margin-right: 64px;
    margin-left: 20%;
}
#Sidebar{
    background: rgba(64, 64, 64, 0.2);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 16px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.15);
    width: 17%;
    height: 98%;
    position: fixed;
    margin-left: 8px;
    display: inline-block;
    color:#F1F1F1;
}
#Sidebar > div{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
#pfp{
    margin-top: 10%;
    width: 85%;
    height: auto;
    border-style: solid;
    border-color: #CACACA;
    border-width: 0.5rem;
    border-radius: 100%;
}
.title{
    text-align: left;
    font-size: 2.5rem;
    color: #F1F1F1;
}
.noBullets{
    list-style-type: none;
}
.listTitle{
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 8px;
    color: #F1F1F1;
}
.stdGlass{
    text-align: left;
    background: rgba(64, 64, 64, 0.2);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 16px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.15);
    padding: 16px;
    margin-bottom: 16px;
}
@media(max-width: 600px) and (orientation: portrait){
    html{
        font-size: 8px;
    }
    #Sidebar{
        display: none;
    }
    #Master{
        margin-left: 4px;
        margin-right: 4px;
    }
}
@media(min-width: 600px) and (max-width: 930px) and (orientation: portrait){
    html{
        font-size: 8px;
    }
    .checkHide{
        display: none;
    }
    #Master{
        margin-left: 20%;
        margin-right: 4px;
    }
}
@media(max-width: 930px) and (orientation: landscape){
    html{
        font-size: 8px;
    }
    #Master{
        margin-left: 20%;
        margin-right: 4px;
    }
    .checkHide{
        display: none;
    }
}
@supports ( -webkit-touch-callout : none) {
    html{
    background-attachment:scroll
    }
}
    
@supports not ( -webkit-touch-callout : none) {
    html{
    background-attachment: fixed;
    }
}